.topHeaderContainer {
    background-color: #192335;
}

/* .container {
    padding: 0 150px;
} */

.topHeader {
    font-size: 14px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    height: 100%;
    color: var(--fontColor);

}

.topHeaderContainer .topHeader ul:first-child {
    display: none;
}


.topHeader li {
    margin: 2px 7px;
}

.topHeader a {
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.topHeaderInfo {
    display: flex;
    align-items: center;
    flex-basis: 33.3333%;
    height: 100%;
}


.hot {
    height: 30px;
    padding: 0 16px;
    border-radius: 500px;
    background-color: var(--colorPrimary);
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
}

.handImo img {
    width: 22px;
}

.topHeader :first-child li a :first-child {
    margin-right: 10px;

}

.topHeaderInfo span,
.topHeaderRightInfo ul {
    display: flex;
    align-items: center;
}

.topHeaderInfo li {
    transition: .3s;
}

.topHeaderInfo li:hover {
    color: #ffffff;
}

.topHeaderInfo .headerSocialLinks {
    display: none;
}

.topHeaderInfo ul li a {
    display: flex;
    height: 100%;
    align-items: center;
    /* background-color: red; */
}

.topHeaderMiddleInfo {
    justify-content: center;
}

.topHeaderRightInfo {
    justify-content: flex-end;
    height: 100%;
}

.topHeaderLine {
    height: 20px;
    width: 1px;
    background-color: var(--fontColor);
    margin: 0 10px;

}

.topHeaderLan {
    display: flex;
    gap: 10px;
    min-width: 170px;

}

.topHeaderLan div {
    display: flex;
    cursor: pointer;
    /* align-items: center; */
    gap: 4px;
    position: relative;
    /* visibility: hidden; */
    /* display: none; */

}

.topHeaderLan div ul {
    position: absolute;
    min-width: 170px;
    display: flex;
    z-index: 2;
    flex-direction: column;
    gap: 5px;
    color: black;
    background-color: #fff;
    top: 100%;
    border-radius: 6px;
    padding: 2px 10px;
    color: #ffffffab;
    visibility: hidden;
    opacity: 0;
    transition: .4s linear;
    /* display: none; */
}

.topHeaderLan div li {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 2;
    flex-direction: row;
    gap: 5px;
    padding: 12px 0;
    padding: 4px 12px;
    font-weight: 600;
    color: var(--color-body);
    /* transition: var(--transition-4); */
    /* transition: .4s linear; */
}

.topHeaderLan div li:hover {
    color: var(--colorPrimary);
    background-color: var(--blackOpacity);
    border-radius: 6px;

}

.topHeaderLan div:hover ul {
    visibility: visible;
    cursor: pointer;
    opacity: 1;

}

.middleHeader .HeaderLogoCategoryContainer .headerCategory div:first-child {
    display: none;
}

.category {
    position: absolute;
    top: 105%;
    padding: 20px;
    background-color: #fff;
    transition: .3s;
    visibility: hidden;
    opacity: 0;
    width: 270px;
    border-end-start-radius: 10px;
    box-shadow: var(--shadow-1);

}

.headerCategory:hover .category {
    top: 100%;
    visibility: visible;
    opacity: 1;
}

.topHeaderLan div:hover .iconRotate {

    /* animation-name: iconRotate;
    animation-duration: .4s;
    animation-fill-mode: forwards; */
    transform: rotate(180deg);
}

.iconRotate {
    transition: .2s ease-in-out;
}

.topHeader .currency ul {
    min-width: 100px;
    margin-left: -30px;

}

.topHeader .language ul,
.topHeader .currency ul {
    padding: 12px 12px;
    box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
    margin-right: 30px;
    /* background-color: red; */
    /* display: none; */
    /* background-color: red; */
}

.topHeader .language ul {
    min-width: 170px;
}

.topHeaderLan div li img {
    width: 20px;
    height: auto;
}

.topHeaderMiddleInfo :last-child {
    margin-left: 7px;
}

.middleHeader {
    height: 80px;
    font-weight: 600;
    font-size: 16px;
    background-color: var(--middleHeaderBG);
    color: var(--navFontColor);
    box-shadow: 0px 20px 34px rgba(0, 0, 0, 0.0509803922);


}

.middleHeaderContainer {
    position: relative;
}

.headerLogo img {
    max-height: 50px;
    width: auto;
    object-fit: cover;
}

.headerLogo .categoryBtn>div:first-child {
    display: flex;
    align-items: center;
    border-radius: 500px;
    padding: 10px 20px;
    background-color: var(--HeaderAdminBtn);
    gap: 3px;
    cursor: pointer;
    color: #6b7385;
}

.middleHeader .middleHeaderContainer {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.middleHeader .middleHeaderContainer .mainMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.middleHeaderRight {
    font-weight: 600;
}

.middleHeaderRight .cartNumber {
    position: relative;
}

.middleHeaderRight .cartNumber span {
    position: absolute;
    top: -3px;
    right: 3px;
    border-radius: 10px;
    min-width: 16px;
    height: 16px;
    padding: 0 4px 0 4px;
    line-height: 16px;
    background: var(--colorPrimary);
    color: #fff;
    font-size: 12px;
}

.navhvr:hover {
    color: var(--colorPrimary);
}

.middleHeader .middleHeaderRight .rightSection {
    gap: 0;
}

.middleHeader .headerCourseEnrBtn {
    border-image: linear-gradient(90deg, #CFA2E8, #637FEA);
    background-image: linear-gradient(90deg, #CFA2E8, #637FEA);
    border-radius: 30px;
    padding: 3px;
    width: 125px;
    height: 40px;
}

.middleHeader .headerLogo,
.middleHeader .headerNavMenu nav ul,
.headerNavMenu,
.middleHeaderRight,
.middleHeaderRight ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.headerNavMenu {
    display: none;
}

.headerCourseEnrBtn {
    display: none;
}

.headerNavMenu,
.headerNavMenu nav,
.headerNavMenu nav li {
    height: 100%;
}

.headerNavMenu nav li {
    display: flex;
    align-items: center;
}

.headerNavMenu .demosContainer:hover .thumbNails {
    visibility: visible;
    opacity: 1;
    background-color: #273041;
    animation-name: increaseHeight;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}


.middleHeader .middleHeaderRight ul {
    padding-right: 20px;
    gap: 40px;
}

.middleHeader .middleHeaderRight ul :last-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

.middleHeader .middleHeaderRight .adMinBtn::before {
    content: "";
    width: 1px;
    height: 30px;
    background: #6b7385;

}

.courses {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 0;
    left: 0;
    top: 100%;
    width: 900px;
    max-height: 0;
    background-color: red;
    /* overflow-y: hidden; */
    transition: max-height 0s ease-in-out;
    margin: 0 auto;
    /* max-height: 1000px; */
}

.courseHover .courses.expand {
    visibility: visible;
    opacity: 1;
    max-height: 1000px;
    transition: max-height .3s ease-in-out;
}

.middleHeader .headerCourseEnrBtn a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 30px;
    height: 100%;
    background-color: var(--bg);
    overflow: hidden;
}

.navHover>a:first-child {
    color: inherit;
    display: flex;
    align-items: center;
}

.navHover {
    font-size: 15px;
    color: var(--color-body);
}

.navHover>a:first-child:hover {
    color: var(--colorPrimary);
    display: flex;
    /* todo */
    /* align-items: center; */
}

.navHover.pages .pagesNavbarContainer .pagesNav {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: max-height 0s;
    /* overflow-y: hidden; */
}

.navHover.pages:hover .pagesNavbarContainer .pagesNav {
    visibility: visible;
    opacity: 1;
    max-height: 1000px;
    transition: max-height .3s ease-in-out;
}

.navHover .navElements {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    max-height: 0;
    /* overflow: hidden; */
    transition: max-height .0s ease-in-out;
}

.navHover:hover .navElements {
    visibility: visible;
    opacity: 1;
    max-height: 1000px;
    transition: max-height .3s ease-in-out;
}

.cartSearch {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s linear;
}

.cartSearch:hover {
    color: var(--colorPrimary);
    background-color: var(--HeaderAdminBtn);
}

.middleHeader .headerCourseEnrBtn span {
    /* overflow: hidden; */
    animation: marquee 2s linear infinite;
    color: var(--navFontColor);
}


.heroSection {
    background-image: url("https://rainbowthemes.net/themes/histudy/wp-content/uploads/2024/06/bg-g1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    padding-bottom: 120px;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-150%);
    }
}

.hey {
    position: absolute;
    background-color: red;
    width: 39px;
    height: 39px;
    right: 0;
    top: 105%;
    visibility: hidden;
    opacity: 0;
    z-index: 1;

}

.thumbNails {
    margin: 0px 30px;
    display: grid;
    /* overflow: hidden; */
    width: calc(100vw-30px);
    height: 0;
    padding: 40px;
    /* overflow: hidden; */
    padding: 40px;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    background-color: #282b30;
    color: #ffffff;
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.thumbNail a {
    color: inherit;
}

.thumbNail img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.thumbNail {
    position: relative;
    transition: .4s;
}

.thumbNail:hover {
    transform: translateY(-20px);
}

.thumbNail div a:last-child {
    font-size: 14px;
    height: 30px;
    transition: .4s;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    position: absolute;
    left: 0%;
    width: 100%;
    text-align: center;
    opacity: 0;
}

.thumbNail div a:last-child span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

}

.demos:hover {
    height: 100%;

}

.thumbNail:hover div a:last-child {
    opacity: 1;
}

@keyframes increaseHeight {
    from {
        height: 0%;
    }

    to {
        height: 560px;
    }
}

header {
    position: relative;
    z-index: 400;
}

@media (min-width: 1200px) {
    .topHeaderContainer .topHeader ul:first-child {
        display: flex;
    }

    .middleHeader .HeaderLogoCategoryContainer .headerCategory div:first-child {
        display: block;
    }

    /* .HeaderLogoCategoryContainer .headerCategory:last-child {
        display: none;
    } */

    .HeaderLogoCategoryContainer .headerCategory div:nth-child(2) {
        display: none;
    }

    .headerNavMenu {
        display: block;
    }

    .headerNavBtns {
        display: none;
    }

    .headerCourseEnrBtn {
        display: block;
    }

}

@media (max-width: 1199px) {
    .topHeaderInfo {
        flex-basis: 50%;
    }

    .topHeaderMiddleInfo {
        justify-content: flex-start;
    }

}



@media (min-width: 1400px) {
    .topHeaderInfo .headerSocialLinks {
        display: block;
    }

}

@media only screen and (max-width: 767px) {
    .container {
        padding: 0 15px;
        display: none;
    }

}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        padding: 0 15px;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        padding: 0 15px;
    }
}


@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .container {
        padding: 0 30px;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .container {
        padding: 0 50px;
        /* margin: 0;
        width: calc(100vw - 80px);
        margin: 0 auto; */
    }
}