.wrapperNavContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(15px);
    z-index: 9;
    transition: opacity 0.5s ease-out;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-heading);

}

.wrapperNavContainer .wrapperResponsive {
    width: 400px;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 60px 50px;
    transition: all 0.5s ease-out;
    overflow-y: scroll;
}

.wrapperNavContainer .wrapperResponsive .categoriesListResponsiveContainer li span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapperNavContainer .wrapperResponsive .categoriesListResponsiveContainer li span a {
    color: var(--colorPrimary);
    padding: 8px 0;
    display: block;

}

.wrapperNavContainer .wrapperResponsive .categoriesListResponsiveContainer li {
    border-bottom: 1px solid var(--primary-opacity);

}

.wrapperNavContainer .wrapperResponsive .categoriesListResponsiveContainer li span a:visited,
categoriesListResponsiveContainer li span a:active {
    color: inherit;
}


.wrapperNavContainer .wrapperResponsive .categoriesListResponsiveContainer li span a:hover,
.subAddCanIcons:hover {
    color: var(--colorPrimary);
    cursor: pointer;

}


.wrapperNavContainer .categoriesCrossIcon {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--primary-opacity);
}

.wrapperNavContainer .categoriesCrossIcon button {
    background: var(--colorPrimary);
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: .5s;
    border: none;

}

.wrapperNavContainer .categoriesCrossIcon button:hover {
    border: 1px solid var(--colorPrimary);
    background-color: #F6F6F6;

}


.wrapperNavContainer .responsiveSubCategory {
    overflow: hidden;
    transition: 3s;
    max-height: 0px;
    transition: max-height .5s ease-in-out;
}

.wrapperNavContainer .responsiveSubCategory.active {
    max-height: 1000px;
    transition: max-height .5s ease-in-out;
}

.wrapperNavContainer .responsiveSubCategory ul {
    padding-left: 14px;
}

.wrapperNavContainer .responsiveSubCategory li {
    padding: 8px 0;
    border-bottom: 1px solid var(--primary-opacity);
}

.wrapperNavContainer .responsiveSubCategory li:hover {
    color: var(--colorPrimary);
    cursor: pointer;
}

@media (min-width:1200px) {
    .responsiveWrapper {
        display: none;
    }
}

.wrapperNavContainer {
    /* overflow: hidden; */
}

@media only screen and (max-width: 575px) {
    .wrapperNavContainer .wrapperResponsive {
        height: 100%;
        width: 300px;
        padding: 40px 20px;
        transition: all 0.5s ease-out;
    }
}