.navHover .pagesNavbarContainer nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    height: auto;
}


nav .pagesNav {
    /* position: absolute; */
    /* top: 0; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    /* left: 0; */
    /* top: 100%; */
    margin: 0 auto;
    width: 100%;
    background-color: #ffffff;
    padding: 15px 20px;
}

nav .pagesNav .elementor-element ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}

nav .pagesNav .elementor-element {
    /* overflow: hidden; */
}

nav .pagesNav .elementor-element .nav-category-item {
    position: relative;
    padding: 25px 20px;
    z-index: 1;
}

nav .pagesNav .elementor-element .nav-category-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

nav .pagesNav .elementor-element .nav-category-item span {
    z-index: 2;
    color: var(--color-heading);

}

nav .pagesNav .elementor-element .nav-category-item span:hover {
    color: var(--color-heading);

}


nav .pagesNav .elementor-element .nav-category-item span .featherRight {
    color: var(--color-heading);

}

nav .pagesNav .elementor-element .nav-category-item a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: inherit;
}

nav .pagesNav .elementor-element .nav-category-item .featherRight {
    transition: .3s;
}

nav .pagesNav .elementor-element .nav-category-item:hover .featherRight {
    transform: translateX(4px);
}

nav .pagesNav .elementor-element ul li {
    padding: 10px 14px;
    width: 100%;
    transition: .3s;
    color: var(--color-body);
    border-radius: 4px;
    font-size: 15px;

}

nav .pagesNav .elementor-element ul li a {
    font-size: 15px;
    color: var(--color-body);

}

nav .pagesNav .elementor-element ul li:hover a {
    font-size: 15px;
    color: var(--color-primary);

}

nav .pagesNav .elementor-element ul li:hover {
    background-color: rgb(0 0 0 / 4%);
    color: var(--colorPrimary);
}

nav .pagesNav .elementor-element h3 {
    padding: 10px 14px;
}